---
import Layout from "@layouts/Layout.astro";
import HeroPage from "@sections/HeroPage.astro";
import TrendingMovies from "@sections/TrendingMovies.astro";
---

<Layout>
  <main class="">
    <HeroPage />
    <TrendingMovies />
  </main>
</Layout>
