---
import Logo from "@assets/logo-page.svg";
import Menu from "@assets/menu.svg";
import NavHeader from "@components/NavHeader.astro";
---

<header class="bg-slate-950 sticky top-0 z-40" transition:name="header-page">
  <div class="w-11/12 mx-auto flex items-center justify-between py-4">
    <a class="flex items-center gap-2 text-2xl font-arima" href="/">
      <Logo class="size-12" />
      <span
        class="bg-gradient-to-br from-green-500 to-cyan-700 bg-clip-text text-transparent font-bold"
        >MovieTMDB</span
      >
    </a>
    <button class="cursor-pointer relative z-50" id="menu-toggle">
      <Menu class="size-6" />
    </button>
    <NavHeader />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const $btnMenu = document.getElementById(
      "menu-toggle",
    ) as HTMLButtonElement;
    const $navHeader = document.getElementById(
      "navigation-header",
    ) as HTMLElement;

    if (!$btnMenu || !$navHeader) {
      console.error("Menu button or navigation header not found.");
      return;
    }

    document.addEventListener("click", (event) => {
      // Cierra el menú si se hace clic fuera de él
      if (
        !$navHeader.contains(event.target as Node) &&
        !$btnMenu.contains(event.target as Node)
      ) {
        $navHeader.classList.remove("open");
      }
    });

    $btnMenu.addEventListener("click", () => {
      $navHeader.classList.toggle("open");
    });
  });
</script>
