---
import Logo from "@assets/logo-page.svg";
const navigationLinks = [
  { href: "/movies", label: "Películas" },
  { href: "/tv-shows", label: "Series de TV" },
  { href: "/trending", label: "Tendencias" },
];
---

<header class="relative" transition:name="header-page">
  <div class="w-11/12 mx-auto flex items-center justify-between py-4">
    <a class="flex items-center gap-2 text-2xl font-arima" href="/">
      <Logo class="size-12" />
      <span
        class="bg-gradient-to-br from-green-500 to-cyan-700 bg-clip-text text-transparent font-bold"
        >MovieTMDB</span
      >
    </a>
    <button class="cursor-pointer relative z-50" id="menu-toggle">
      <svg
        class="size-6"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M3 6h18"></path>
        <path d="M3 12h18"></path>
        <path d="M3 18h18"></path>
      </svg>
    </button>
    <nav
      id="navigation-header"
      class="absolute z-40 bg-gray-950 shadow-lg shadow-sky-950 rounded-lg top-0 right-0 p-2 w-4/5 h-[80dvh] transition-transform duration-300 pt-10"
      style="transform: translateX(calc(100%));"
    >
      <ul class="">
        {
          navigationLinks.map((link) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </ul>
      <div class="search flex items-center gap-2">
        <label for="search-input" class="">
          <svg
            class="size-5"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
              d="M21 21l-6 -6"></path></svg
          >
        </label>
        <input type="text" id="search-input" placeholder="Buscar..." />
      </div>
    </nav>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const $btnMenu = document.getElementById(
      "menu-toggle",
    ) as HTMLButtonElement;
    const $navHeader = document.getElementById(
      "navigation-header",
    ) as HTMLElement;

    $btnMenu.addEventListener("click", () => {
      $navHeader.style.transform === "translateX(0%)"
        ? ($navHeader.style.transform = "translateX(calc(100%))")
        : ($navHeader.style.transform = "translateX(0%)");
    });
  });
</script>
