---

---

<section
  class="py-20 bg-gradient-to-b from-slate-950 via-blue-900/50 to-slate-950 text-white text-center"
>
  <div class="w-11/12 mx-auto">
    <h1 class="font-bold font-arima text-balance text-title">
      ¡Descubre tu próxima película favorita!
    </h1>
    <p class="text-center text-balance py-4 text-gray-400 text-paragraph">
      Explora nuestra amplia colección de películas y series de TV. Desde los
      clásicos hasta los estrenos más recientes, ¡tenemos algo para todos!
    </p>
    <form class="flex justify-center gap-2 pt-5">
      <input
        class="border border-gray-400/10 rounded-full px-4 py-2 w-full max-w-md focus:outline-none focus:ring-1 focus:ring-blue-600 placeholder:text-gray-400/50 placeholder:font-light"
        type="search"
        name="search"
        placeholder="Buscar películas o series..."
        aria-label="Buscar"
        required
      />
      <button
        type="submit"
        class="bg-blue-600 p-2 px-4 rounded-full cursor-pointer"
      >
        Buscar
      </button>
    </form>
  </div>
</section>
